<html>
<body>
<form action="/scraping" method="POST">
    {% csrf_token %}
    <input type="number" placeholder="Input 1-20 (Category)" name="category">
    <button type="submit">Submit</button>
</form>
List of Category : <br><br>
1:"bantuan-medis"<br>2:"balita-anak-sakit"<br>3:"bencana-alam"<br>4:"kemanusiaan"<br>5:"rumah-ibadah"<br>6:"kegiatan-sosial"<br>7:"zakat"<br>8:"beasiswa-pendidikan"<br>9:"infrastruktur"<br>10:"lainnya"<br>11:"run-charity"<br>12:"panti-asuhan"<br>13:"produk-inovasi"<br>14:"hadiah-apresiasi"<br>15:"birthday-fundraising"<br>16:"difabel"<br>17:"hewan"<br>18:"family-for-family"<br>19:"karya-kreatif"<br>20:"lingkungan"<br></body>
</html>



<html>
<body>
<form action="/ga" method="POST">
    {% csrf_token %}
<input type="number" placeholder="Input Money" name="money"><br>
<button type="submit">Submit</button>
{% for key,dict in data.items %}
	<h1>{{ key }}</h1>
	{% for k,values in dict.items %}
		{% if k == 'link' %}
		<a href={{ values }}>{{values}}</a>
		{% else %}
		<p>{{ k }} : {{ values }}</p>
		{% endif %}
	{% endfor %}
{% endfor %}
    
<input type="hidden" value="{{ data }}" name="data">
</form>
</body>
</html>


<form action="/ga" method="POST">
    {% csrf_token %}
    <input type="number" placeholder="Input Money" name="money"><br>
    <button type="submit">Submit</button>
    {% for key,dict in data.items %}
        <h1></h1>
        <br>
        <br>
        {% for k,values in dict.items %}
            {% if k == 'judul' %}
                <h1>{{ values }}</h1>
            {% endif %}

            {% if k == 'link' %}
                <iframe height="500px" src={{ values }} name="iframe_a"></iframe>
            {% else %}
                <p>{{ k }} : {{ values }}</p>
            {% endif %}

        {% endfor %}
    {% endfor %}
        
    <input type="hidden" value="{{ data }}" name="data">
    </form>




<html>
<body>
<h1>Forum yang direkomendasikan untuk didonasikan</h1>
{% for key,dict in data.items %}
	<h1>{{ key }}</h1>
	{% for k,values in dict.items %}
		{% if k == 'link' %}
		<a href={{ values }}>{{values}}</a>
		{% else %}
		<p>{{ k }} : {{ values }}</h2>
		{% endif %}
	{% endfor %}
{% endfor %}
</body>
</html>
