<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

  <!-- BEGIN HEAD ==================================================================================================================-->
  <head>
    <title>RidhoBisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/open-iconic-bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.theme.default.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/aos.css' %}>
    <link rel="stylesheet" href={% static 'css/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-datepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/jquery.timepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/icomoon.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
  </head>
  <!-- END HEAD ==================================================================================================================-->

  <!-- BEGIN STYLE ==================================================================================================================-->
  <style>
    .line {
      display: block;
      border-top: 8px solid #07E8B2;
      width: 10%;
      margin-bottom: 2rem;
    }
  </style>
  <!-- END STYLE ==================================================================================================================-->
  
  <!-- BEGIN BODY ==================================================================================================================-->
  <body>

    <!-- BEGIN NAVBAR ==================================================================================================================-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid px-lg-5">
        <!-- Bagian kiri -->
        <a class="navbar-brand" href="../">RidhoBisa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <!-- End Bagian kiri -->

        <!-- Bagian kanan -->
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a href="../" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="../category" class="nav-link">Category</a></li>
            <li class="nav-item active"><a href="../blog/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="../about/" class="nav-link">About Us</a></li>
          </ul>
        </div>
        <!-- End Bagian kanan -->
      </div>
    </nav>
    <!-- END NAVBAR ==================================================================================================================-->

    <!-- BEGIN LANDING PHOTO BLOG ==================================================================================================================-->
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Blog</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="../">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END LANDING PHOTO BLOG ==================================================================================================================-->

    <!-- SECTION  BERITA ==================================================================================================================-->
    <section>
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12">
            </div>
          </div>

          <div class="row">
            <!-- 1 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Cancer patients in Indonesia often late to seek treatment.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left">
                    <img src="{% static "images/cac.jpg" %}" alt="Image" class="img-fluid">
                  </figure>
                  <span class="d-inline-block mt-1">By <a href="#">Dyanning Pangestika</a></span>
                  <span>&nbsp;-&nbsp; Feb 04, 2019</span>
                </div>
                <p>Speaking at an event to commemorate World Cancer Day on Monday, Health Minister Nila Farid Moeloek called on the people to increase their awareness of cancer and cancer symptoms.</p>
                <p>
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
            <!-- End 1 -->

            <!-- 2 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Strong Earthquake Strikes Indonesia, Killing at Least 20.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left">
                    <img src="{% static "images/ny.jpg" %}" alt="Image" class="img-fluid">
                  </figure>
                  <span class="d-inline-block mt-1">By <a href="#">Daniel Victor</a></span>
                  <span>&nbsp;-&nbsp; Sept 25, 2019</span>
                </div>
                <p>A 6.5-magnitude earthquake struck Maluku Islands in Indonesia on Thursday morning, killing at least 20 people, including a man who was killed when a building collapsed at an Islamic university in Ambon.</p>
                <p>
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
            <!-- End 2 -->

            <!-- 3 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Opportunities to promote disability in Indonesia.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static "images/dis.jpeg" %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">Jian Vunzuana</a></span>
                  <span>&nbsp;-&nbsp; Dec 21, 2018</span>
                </div>
                <p>In 2017, fourteen cities committing to eliminate discrimination against people with disabilities. Many Indonesian cities have taken significant steps towards adopting disability-inclusive practices.</p>
                <p><a href="#">Read More</a></p>
              </div>
            </div>
            <!-- End 3 -->

            <!-- 4 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Water, sanitation and hygiene.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static "images/wat.jpg" %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">UNICEF</a></span>
                  <span>&nbsp;-&nbsp; Nov 02, 2019</span>
                </div>
                  <p>Nearly 25 million people in Indonesia don’t use toilets. They defecate instead in fields, bushes, forests, ditches, streets, canals or other open spaces. Open defecation is not only an affront to dignity, it also poses huge risks to child and community health.</p>
                  <p>
                    <a href="#">Read More</a>
                  </p>
                </div>
            </div>
            <!-- End 4 -->
            
            <!-- 5 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Floods hit 143 Jakarta neighborhood units.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static "images/fl.jpg" %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">The Jakarta Post</a></span>
                  <span>&nbsp;-&nbsp; Mar 06 19, 2019</span>
                </div>
                  <p>According to data from the head of the Jakarta Communication, Information and Statistics Agency, the floods occurred in 30 subdistricts in North and West Jakarta, with water levels reaching 80 centimeters.</p>
                  <p>
                    <a href="#">Read More</a>
                  </p>
              </div>
            </div>
            <!-- End 5 -->

            <!-- 6 -->
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <h2>
                  <a href="single.html">Indonesian forest fires causing toxic haze.</a>
                </h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static "images/ff.jpg" %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">The Guardian</a></span>
                  <span>&nbsp;-&nbsp; Sep 24, 2019</span>
                </div>
                  <p>Indonesian forest fires are putting nearly 10 million children at risk due to air pollution. The fires have been spewing toxic haze over south-east Asia in recent weeks, closing schools and airports, with people rushing to buy face masks and seek medical treatment.</p>
                  <p>
                    <a href="#">Read More</a>
                  </p>
                </div>
              </div>
            <!-- 6 -->

          </div>  
        </div>
        


      </div>
    </section>
    <!-- END SECTION BERITA ==================================================================================================================-->
  
    <!-- BEGIN FOOTER ==================================================================================================================-->
    <footer class="ftco-footer ftco-section img" >
      <div class="overlay">
      </div>

      <div class="container">
        <div class="row mb-5">

          <!-- Aspiration -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Aspiration</h2>
              <p>There are many ways you can support RidhoBisa. We’ve listed some ideas, but please don’t hesitate to contact us with suggestions or questions. We’d love to hear your thoughts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- End Aspiration -->

          <!-- Information -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Donation</a></li>
                <li><a href="#" class="py-2 d-block">Privacy</a></li>
                <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
          <!-- End Information -->

          <!-- Links -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">Our Team</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- End Links -->

          <!-- Contact -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62-21 7863419</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">ridhobisa@tech.id</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Contact -->

        </div>
      </div>
    </footer>
    <!-- END FOOTER ==================================================================================================================-->

    <!-- BEGIN LOADER ==================================================================================================================-->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
      </svg>
    </div>
    <!-- END LOADER ==================================================================================================================-->

    <!-- BEGIN SCRIPT ==================================================================================================================-->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/jquery-migrate-3.0.1.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery.easing.1.3.js' %}></script>
    <script src={% static 'js/jquery.waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.stellar.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'js/aos.js' %}></script>
    <script src={% static 'js/jquery.animateNumber.min.js' %}></script>
    <script src={% static 'js/scrollax.min.js' %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={% static 'css/google-map.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <script src={% static 'js/jquery-3.3.1.min.js' %}></script>
    <script src={% static 'js/jquery-migrate-3.0.1.min.js' %}></script>
    <script src={% static 'js/jquery-ui.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/jquery.stellar.min.js' %}></script>
    <script src={% static 'js/jquery.countdown.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'js/bootstrap-datepicker.min.js' %}></script>
    <script src={% static 'js/aos.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <!-- END SCRIPT ==================================================================================================================-->

  </body>
  <!-- END BODY ==================================================================================================================-->
</html>