<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <!-- BEGIN HEAD ==================================================================================================================-->
  <head>
    <title>RidhoBisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/open-iconic-bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.theme.default.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/aos.css' %}>
    <link rel="stylesheet" href={% static 'css/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-datepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/jquery.timepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/icomoon.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
  </head>
  <!-- END HEAD ======================================================================================================================-->  

  <!-- BEGIN STYLE ==================================================================================================================-->
  <style>
    .vl {
      border-left: 1px solid white;
      height: 100px;
    }
  </style>
  <!-- END STYLE ==================================================================================================================-->
  

  <!-- BEGIN BODY ==================================================================================================================-->
  <body>

    <!-- BEGIN NAVBAR ==================================================================================================================-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid px-lg-5">
        <!-- Bagian kiri -->
        <a class="navbar-brand" href="../">RidhoBisa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <!-- End Bagian kiri -->

        <!-- Bagian kanan -->
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="../" class="nav-link">Home</a></li>
            <li class="nav-item active"><a href="../category" class="nav-link">Category</a></li>
            <li class="nav-item"><a href="../blog/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="../about/" class="nav-link">About Us</a></li>
          </ul>
        </div>
        <!-- End Bagian kanan -->
      </div>
    </nav>
    <!-- END NAVBAR ==================================================================================================================-->

    <!-- BEGIN LANDING PHOTO CATEGORY ==================================================================================================================-->
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Category</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="../">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Category <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END LANDING PHOTO CATEGORY ==================================================================================================================-->

    <br>
    <br>

    <!-- SECTION YG 4 TUJUAN ==================================================================================================================-->
    <section class="services-section py-5 py-md-0">
      <center>
      <form action="/scraping" method="POST">
        {% csrf_token %}
        <input type="number" placeholder="Input 1-20 (Category)" name="category">
        <button type="submit">Submit</button>
      </form>
      
      <br>

      <div class="container">
        <div class="row no-gutters d-flex">
          
          <!-- 1 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"></span><strong>1</strong></h3>
                <h3 class="heading mb-3">Bantuan Medis</h3>
              </div>
            </div>      
          </div>
          <!-- End 1 -->

          <!-- 2 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>2</strong></h3>
                <h3 class="heading mb-3">Balita Anak Sakit</h3>
              </div>
            </div>      
          </div>
          <!-- End 2 -->

          <!-- 3 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>3</strong></h3>
                <h3 class="heading mb-3">Bencana Alam</h3>
              </div>
            </div>      
          </div>
          <!-- End 3 -->

          <!-- 4 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>4</strong></h3>
                <h3 class="heading mb-3">Kemanusiaan</h3>
              </div>
            </div>      
          </div>
          <!-- End 4 -->

          <!-- 5 -->
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>5</strong></h3>
                <h3 class="heading mb-3">Rumah Ibadah</h3>
              </div>
            </div>      
          </div>
          <!-- End 5 -->

          <!-- 6 -->
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>6</strong></h3>
                <h3 class="heading mb-3">Kegiatan Sosial</h3>
              </div>
            </div>      
          </div>
          <!-- End 6 -->
          
          <!-- 7 -->
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>7</strong></h3>
                <h3 class="heading mb-3">Zakat</h3>
              </div>
            </div>      
          </div>
          <!-- End 7 -->

          <!-- 8 -->
          <div class="col-md-6 col-lg-3  ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>8</strong></h3>
                <h3 class="heading mb-3">Beasiswa Pendidikan</h3>
              </div>
            </div>      
          </div>
          <!-- End 8 -->

          <!-- 9 -->
          <div class="col-md-6 col-lg-3 d-flex  ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>9</strong></h3>
                <h3 class="heading mb-3">Infrastruktur</h3>
              </div>
            </div>      
          </div>
          <!-- End 9 -->

          <!-- 10 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>10</strong></h3>
                <h3 class="heading mb-3">Lainnya</h3>
              </div>
            </div>      
          </div>
          <!-- End 10 -->

          <!-- 11 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>11</strong></h3>
                <h3 class="heading mb-3">Run Charity</h3>
              </div>
            </div>      
          </div>
          <!-- End 11 -->

          <!-- 12 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>12</strong></h3>
                <h3 class="heading mb-3">Panti Asuhan</h3>
              </div>
            </div>      
          </div>
          <!-- End 12 -->

          <!-- 13 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>13</strong></h3>
                <h3 class="heading mb-3">Produk Inovasi</h3>
              </div>
            </div>      
          </div>
          <!-- End 13 -->

          <!-- 14 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>14</strong></h3>
                <h3 class="heading mb-3">Hadiah Apresiasi</h3>
              </div>
            </div>      
          </div>
          <!-- End 14 -->

          <!-- 15 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>15</strong></h3>
                <h3 class="heading mb-3">Birthday Fundraising</h3>
              </div>
            </div>      
          </div>
          <!-- End 15 -->

          <!-- 16 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>16</strong></h3>
                <h3 class="heading mb-3">Difabel</h3>
              </div>
            </div>      
          </div>
          <!-- End 16 -->

          <!-- 17 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>17</strong></h3>
                <h3 class="heading mb-3">Hewan</h3>
              </div>
            </div>      
          </div>
          <!-- End 17 -->

          <!-- 18 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>18</strong></h3>
                <h3 class="heading mb-3">Family For Family</h3>
              </div>
            </div>      
          </div>
          <!-- End 18 -->

          <!-- 19 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>19</strong></h3>
                <h3 class="heading mb-3">Karya Kreatif</h3>
              </div>
            </div>      
          </div>
          <!-- End 19 -->

          <!-- 20 -->
          <div class="col-md-6 col-lg-3   ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="media-body">
                <h3 class="heading mb-3" style="font-size: 80px"><strong>20</strong></h3>
                <h3 class="heading mb-3">Lingkungan</h3>
              </div>
            </div>      
          </div>
          <!-- End 20 -->

        </div>
      </div>
    </section>
    <!-- END SECTION 4 TUJUAN ==================================================================================================================-->
    
    <br>
    <br>
    <!-- BEGIN FOOTER ==================================================================================================================-->
    <footer class="ftco-footer ftco-section img" >
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row mb-5">
          <!-- Aspiration -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Aspiration</h2>
              <p>There are many ways you can support RidhoBisa. We’ve listed some ideas, but please don’t hesitate to contact us with suggestions or questions. We’d love to hear your thoughts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- End Aspiration -->

          <!-- Information -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Donation</a></li>
                <li><a href="#" class="py-2 d-block">Privacy</a></li>
                <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
          <!-- End Information -->

          <!-- Links -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">Our Team</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- End Links -->

          <!-- Contact -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62-21 7863419</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">ridhobisa@tech.id</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Contact -->

        </div>
      </div>
    </footer>
    <!-- END FOOTER ==================================================================================================================-->
    
    <!-- BEGIN LOADER ==================================================================================================================-->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
      </svg>
    </div>
    <!-- END LOADER ==================================================================================================================-->

    <!-- BEGIN SCRIPT ==================================================================================================================-->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/jquery-migrate-3.0.1.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery.easing.1.3.js' %}></script>
    <script src={% static 'js/jquery.waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.stellar.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'js/aos.js' %}></script>
    <script src={% static 'js/jquery.animateNumber.min.js' %}></script>
    <script src={% static 'js/scrollax.min.js' %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={% static 'css/google-map.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <!-- END SCRIPT ==================================================================================================================-->
  
  </body>
  <!-- END BODY ==================================================================================================================-->
  
</html>