<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <!-- BEGIN HEAD ==================================================================================================================-->
  <head>
    <title>RidhoBisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/open-iconic-bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.theme.default.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/aos.css' %}>
    <link rel="stylesheet" href={% static 'css/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-datepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/jquery.timepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/icomoon.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
  </head>
  <!-- END HEAD ======================================================================================================================-->  

  <!-- BEGIN STYLE ==================================================================================================================-->
  <style>
    .vl {
      border-left: 1px solid white;
      height: 100px;
    }
  </style>
  <!-- END STYLE ==================================================================================================================-->
  

  <!-- BEGIN BODY ==================================================================================================================-->
  <body style="background-color: black">

    <!-- BEGIN NAVBAR ==================================================================================================================-->
    <div style="background-color: black">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color: black">
      <div class="container-fluid px-lg-5">
        <!-- Bagian kiri -->
        <a class="navbar-brand" href="./">RidhoBisa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <!-- End Bagian kiri -->

        <!-- Bagian kanan -->
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="./" class="nav-link">Home</a></li>
            <li class="nav-item active"><a href="../category" class="nav-link">Category</a></li>
            <li class="nav-item"><a href="../blog/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="../about/" class="nav-link">About Us</a></li>
          </ul>
        </div>
        <!-- End Bagian kanan -->
      </div>
    </nav>
    </div>
    <!-- END NAVBAR ==================================================================================================================-->
    
    <!-- SECTION PRIORITAS BANTUAN ==================================================================================================================-->
    <section class="ftco-section ftco-causes">
      <div class="container">
        <!-- Title -->
        <div class="row justify-content-center pb-4">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4" style="color: white">Prioritas Rekomendasi</h2>
            <p>yukk bantu mereka!</p>
          </div>
        </div>
        <!-- End Title -->

        <center>
          <div class="row">
            <!-- Prioritas 1 -->
            {% for key,dict in data.items %}
            <div class="col-md-6" style="background-color: white">
              {% for k,values in dict.items %}
              <br>

              <div>
                {% if k == 'judul' %}
                <h1>{{ values }}</h1>

                {% elif k == 'link' %}
                <center>
                  <iframe height="300px" src={{ values }} name="iframe_a" style="align-content: center; align-items:center"></iframe>
                </center>
                
                
                {% else %}
                <p>{{ k }} : {{ values }}</p>
                {% endif %}

              </div>
			      {% endfor %}
            </div>
            <br>
          {% endfor %}
          <!-- End prioritas 1 -->

      </div>
    </center>
    </section>
    <!-- END SECTION PRIORITAS BANTUAN ==================================================================================================================-->

    <br>
    <br>
    <br>
  
    <!-- BEGIN FOOTER ==================================================================================================================-->
    <footer class="ftco-footer ftco-section img" >
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row mb-5">
          <!-- Aspiration -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Aspiration</h2>
              <p>There are many ways you can support RidhoBisa. We’ve listed some ideas, but please don’t hesitate to contact us with suggestions or questions. We’d love to hear your thoughts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- End Aspiration -->

          <!-- Information -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Donation</a></li>
                <li><a href="#" class="py-2 d-block">Privacy</a></li>
                <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
          <!-- End Information -->

          <!-- Links -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">Our Team</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- End Links -->

          <!-- Contact -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62-21 7863419</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">ridhobisa@tech.id</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Contact -->

        </div>
      </div>
    </footer>
    <!-- END FOOTER ==================================================================================================================-->
    
    <!-- BEGIN LOADER ==================================================================================================================-->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
      </svg>
    </div>
    <!-- END LOADER ==================================================================================================================-->

    <!-- BEGIN SCRIPT ==================================================================================================================-->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/jquery-migrate-3.0.1.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery.easing.1.3.js' %}></script>
    <script src={% static 'js/jquery.waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.stellar.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'js/aos.js' %}></script>
    <script src={% static 'js/jquery.animateNumber.min.js' %}></script>
    <script src={% static 'js/scrollax.min.js' %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={% static 'css/google-map.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <!-- END SCRIPT ==================================================================================================================-->
  
  </body>
  <!-- END BODY ==================================================================================================================-->
  
</html>