<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <!-- BEGIN HEAD ==================================================================================================================-->
  <head>
    <title>RidhoBisa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/open-iconic-bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.theme.default.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/aos.css' %}>
    <link rel="stylesheet" href={% static 'css/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-datepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/jquery.timepicker.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/icomoon.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
  </head>
  <!-- END HEAD ======================================================================================================================-->  

  <!-- BEGIN STYLE ==================================================================================================================-->
  <style>
    .vl {
      border-left: 1px solid white;
      height: 100px;
    }
  </style>
  <!-- END STYLE ==================================================================================================================-->
  

  <!-- BEGIN BODY ==================================================================================================================-->
  <body>

    <!-- BEGIN NAVBAR ==================================================================================================================-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid px-lg-5">
        <!-- Bagian kiri -->
        <a class="navbar-brand" href="./">RidhoBisa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <!-- End Bagian kiri -->

        <!-- Bagian kanan -->
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="./" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="../category" class="nav-link">Category</a></li>
            <li class="nav-item"><a href="../blog/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="../about/" class="nav-link">About Us</a></li>
          </ul>
        </div>
        <!-- End Bagian kanan -->
      </div>
    </nav>
    <!-- END NAVBAR ==================================================================================================================-->
    
    <!-- BEGIN LANDING PHOTO HOME ==================================================================================================================-->
    <div class="hero-wrap" style="background-image: url('././static/images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-12 text ftco-animate mt-5 text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Start Donation to Help Others</h>
          </div>
        </div>
      </div>
    </div>
    <!-- END LANDING PHOTO HOME ==================================================================================================================-->
  
    <!-- SECTION JOIN NOW & DONATE NOW ==================================================================================================================-->
    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
      <div class="container-fluid px-md-0">
        <div class="row no-gutters">
          <!-- Bagian join now -->
          <div class="col-md-5 d-flex align-items-center bg-black">
            <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
                <h2>RidhoBisa Foundation</h2>
              <p>RidhoBisa is a social impact agency specializing in charity and donation in Indonesia to help other people who are suffering or had a tragedy.</p>
              <p><a href="../category" class="btn btn-primary py-3 px-4" >Join now</a></p>
            </div>
          </div>
          <!-- End Bagian join now -->
         
          <!-- Bagian tengah -->
          <div class="vl col-md-2">
          </div>
          <!-- End Bagian tengah-->
          
          <!-- Bagian kanan -->
          <div class="col-md-5 d-flex align-items-center bg-black">
            <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
              <h2>We Have Raised <br><span>Rp</span><strong class="number" data-number="818330482">0</strong></h2>
              <p>Since 2018 and we want to raised more.</p>
              <p><a href="../category" class="btn btn-primary py-3 px-4">Donate now</a></p>
            </div>
          </div>
          <!-- End Bagian kanan -->
        </div>
      </div>
    </section>
    <!-- END SECTION JOIN NOW & DONATE NOW ==================================================================================================================-->

    <!-- SECTION YG 4 TUJUAN ==================================================================================================================-->
    <section class="services-section py-5 py-md-0">
      <div class="container">
        <div class="row no-gutters d-flex">
          <!-- Help & Support -->
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-charity"></span>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Help &amp; Support</h3>
                <p>We focus on improving people’s health and wellbeing, helping individuals lift themselves out of hunger and extreme poverty.</p>
              </div>
            </div>      
          </div>
          <!-- End Help & Support -->

          <!-- Donate -->
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-adoption"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Donate</h3>
                <p>Everyday, thousand of people donate and raise funds for what they stand in RidhoBisa.</p>
              </div>
            </div>    
          </div>
          <!-- End Donate -->

          <!-- Volunteering -->
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-volunteer"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Volunteering</h3>
                <p>There will be a day–in our lifetime–when we get to celebrate every person on the planet having access to get a better life. We want to celebrate that day with you.</p>
              </div>
            </div>      
          </div>
          <!-- End Volunteering -->

          <!-- Education -->
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-open-book"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Education</h3>
                <p>We keep our eyes on the horizon, advancing research and development in support of new innovations that will help our education system keep pace with our rapidly changing world.</p>
              </div>
            </div>      
          </div>
          <!-- End Education -->

        </div>
      </div>
    </section>
    <!-- END SECTION 4 TUJUAN ==================================================================================================================-->
  
    <!-- SECTION BECOME VOLUNTEER ==================================================================================================================-->
    <section class="ftco-section ftco-vol img" style="background-image: url(././static/images/bg_3.jpg);">
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-0"><a href="#">Become a Volunteer</a></h2>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION BECOME VOLUNTEER ==================================================================================================================-->
  
    <!-- SECTION PRIORITAS BANTUAN ==================================================================================================================-->
    <section class="ftco-section ftco-causes">
      <div class="container">
        <!-- Title -->
        <div class="row justify-content-center pb-4">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4">They Need Your Help</h2>
            <p>These are the top 3 of people we can help and support today.</p>
          </div>
        </div>
        <!-- End Title -->

        <div class="row">
          <!-- Prioritas 1 -->
          <div class="col-md-4">
            <div class="causes causes-2 text-center ftco-animate">
              <div class="img" style="background-image: url(././static/images/masjid.jpg);">
              </div>
              <h2>Bangun Masjid untuk Masyarakat Prambanan</h2>
              <p>Kondisi masjid rata dengan tanah karena goncangan gempa bumi. Namun masyarakat tetap menggunakannya untuk salat Jumat, meski hanya beralaskan terpal.</p>
              <div class="goal">
                <p><span>Rp157.089.963</span> to go</p>
                <div class="progress" style="height:20px">
                  <div class="progress-bar progress-bar-striped" style="width:38%; height:20px">38%</div>
                </div>
              </div>
            </div>
          </div>
          <!-- End prioritas 1 -->

          <!-- Prioritas 2 -->
          <div class="col-md-4">
            <div class="causes causes-2 text-center ftco-animate">
              <div class="img" style="background-image: url(././static/images/ican.jpg);"></div>
              <h2>Bantu Ican, Anak Karyawan Pos Lawan TOF </h2>
              <p>Bencana banjir besar yang terjadi pada 17 Maret lalu mengakibatkan Madrasah Aliyah (MA) Ummatan Wasathon di Bantul, Yogyakarta rusak parah.</p>
              <div class="goal">
                <p><span>Rp91.607.179</span> to go</p>
                <div class="progress" style="height:20px">
                  <div class="progress-bar progress-bar-striped" style="width:38%; height:20px">38%</div>
                </div>
              </div>
            </div>
          </div>
          <!-- End prioritas 2 -->

          <!-- Prioritas 3 -->
          <div class="col-md-4">
            <div class="causes causes-2 text-center ftco-animate">
              <div class="img" style="background-image: url(././static/images/nur.jpg);"></div>
              <h2>Bantu Ibu Nur Kalahkan Kanker Serviks</h2>
              <p>Bermula dari pendarahan yang tak berhenti, Bu Nurhayati akhirnya pingsan hingga dibawa ke RS. Pemeriksaan Bu Nur menunjukkan ia positif terkena Kanker Serviks.</p>
              <div class="goal">
                <p><span>Rp10.076.825</span> to go</p>
                <div class="progress" style="height:20px">
                  <div class="progress-bar progress-bar-striped" style="width:33%; height:20px">33%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End prioritas 3 -->

        <!-- Bagian bawah -->
        <div class="row intro mt-5 pt-md-4">
          <div class="col-md-4 ftco-animate">
            <h2><strong class="number" data-number="224537404">0</strong></h2>
            <span>Berikan Pendidikan Layak untuk Palestina</span>
            <p class="mt-2"><a href="../category" class="btn btn-primary">Start Donation</a></p>
          </div>
          <div class="col-md-8 ftco-animate">
            <div class="border-r">
              <h4>Tak pernah berhenti diserang, Palestina terus berduka. Namun kini, jutaan anak-anak Palestina harus kebingungan menghadapi masa depan. Keceriaan dan kebahagiaan anak-anak Palestina untuk bersekolah, itulah yang menjadi semangat kami terus berikhtiar mewujudkan Indonesian School For Palestine.</h4>
            </div>
          </div>
        </div>
        <!-- End bagian bawah  -->

      </div>
    </section>
    <!-- END SECTION PRIORITAS BANTUAN ==================================================================================================================-->

    <!-- SECTION JS COUNTER ==================================================================================================================-->
    <section class="ftco-counter ftco-section img" id="section-counter" style="background-image: url(././static/images/bg_2.jpg);">
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row d-md-flex align-items-center">
          <div class="wrapper">
            <div class="row">

              <!-- Days in campaign -->
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="414">0</strong>
                    <span>Days in Campaign</span>
                  </div>
                </div>
              </div>
              <!-- End Days in campaign -->

              <!-- Dedicated donors -->
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="593">0</strong>
                    <span>Dedicated Donors</span>
                  </div>
                </div>
              </div>
              <!-- End Dedicated donors -->

              <!-- Winning awards -->
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="5">0</strong>
                    <span>Winning Awards</span>
                  </div>
                </div>
              </div>
              <!-- End Winning awards -->

              <!-- Fun Raised -->
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="225">0</strong>
                    <span>Fun Raised</span>
                  </div>
                </div>
              </div>
              <!-- End Fun Raised -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION JS COUNTER ==================================================================================================================-->

    <!-- SECTION BLOG BERITA ==================================================================================================================-->
    <section class="ftco-section">
      <div class="container">
        <!-- Judul -->
        <div class="row justify-content-center pb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4">Blog</h2>
            <p>What's going on at Ridhobisa? Have a look at our blog for news and updates!</p>
          </div>
        </div>
        <!-- End Judul -->

        <div class="row">
          
          <!-- Bagian kiri -->
          <div class="col-md-6">
            <div class="blog-entry align-self-stretch ftco-animate">
              <a href="blog-single.html" class="block-20 img" style="background-image: url('././static/images/wat.jpg');">
              </a>
              <div class="text text-2 bg-light">
                <h3 class="heading mb-4"><a href="#">Water, sanitation and hygiene</a></h3>
                <div class="meta mb-2">
                  <div><a href="#">Nov. 02, 2019</a></div>
                  <div><a href="#">unicef.org</a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Bagian kiri -->

          <div class="col-md-6">
            <!-- 1 -->
            <div class="blog-entry align-self-stretch d-md-flex bg-light p-3 align-items-center d-flex ftco-animate">
              <a href="blog-single.html" class="block-20 thumb" style="background-image: url('././static/images/ny.jpg');">
              </a>
              <div class="text text-thumb d-block pl-2 pl-md-4">
                <h3 class="heading mb-2"><a href="#">Strong Earthquake Strikes Indonesia, Killing at Least 20</a></h3>
                <div class="meta">
                  <div><a href="#">Sept. 25, 2019</a></div>
                  <div><a href="#">nytimes.com</a></div>
                </div>
              </div>
            </div>
            <!-- End 1 -->

            <!-- 2 -->
            <div class="blog-entry align-self-stretch d-md-flex bg-light p-3 align-items-center d-flex ftco-animate">
              <a href="blog-single.html" class="block-20 thumb" style="background-image: url('././static/images/dis.jpeg');">
              </a>
              <div class="text text-thumb d-block pl-2 pl-md-4">
                <h3 class="heading mb-2"><a href="#">Opportunities to promote disability inclusive development in Indonesia</a></h3>
                <div class="meta">
                  <div><a href="#">Dec. 21, 2018</a></div>
                  <div><a href="#">worldbank.org</a></div>
                </div>
              </div>
            </div>
            <!-- End 2 -->

            <!-- 3 -->
            <div class="blog-entry align-self-stretch d-md-flex bg-light p-3 align-items-center d-flex ftco-animate">
              <a href="blog-single.html" class="block-20 thumb" style="background-image: url('././static/images/cac.jpg');">
              </a>
              <div class="text text-thumb d-block pl-2 pl-md-4">
                <h3 class="heading mb-2"><a href="#">Cancer patients in Indonesia often late to seek treatment</a></h3>
                <div class="meta">
                  <div><a href="#">Feb. 04, 2019</a></div>
                  <div><a href="#">TheJakartaPost.com</a></div>
                </div>
              </div>
            </div>
            <!-- End 3 -->
          </div>
        </div>

        <div class="row justify-content-center intro pt-4 pt-md-5">
          <div class="col-md-8 text-center">
            <h1 class="heading">Your donation will help people and preserve their future</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION BLOG BERITA ==================================================================================================================-->
    
    <!-- SECTION TESTIMONI ==================================================================================================================-->
    <section class="testimony-section bg-light">
      <div class="container">
        <div class="row ftco-animate justify-content-center">
          <!-- Foto -->
          <div class="col-md-6 d-flex">
            <div class="testimony-img" style="background-image: url(././static/images/fl.jpeg);"></div>
          </div>

          <div class="col-md-6 py-5">
            <!-- Judul -->
            <div class="heading-section pb-4 pt-md-4 ftco-animate">
              <h2 class="mb-0">What Donors Said</h2>
            </div>

            <!-- Testimoni -->
            <div class="carousel-testimony owl-carousel ftco-owl">
              <!-- 1 -->
              <div class="item">
                <div class="testimony-wrap">
                  <div class="text">
                    <p class="mb-4">I give my money to help residents in Lombok who suffered an earthquake last month.</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(././static/images/person_2.jpg)">
                    </div>
                    <div class="pos ml-3">
                      <p class="name">Erick Wijaya</p>
                      <span class="position">College Students in UI</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End 1 -->

              <!-- 2 -->
              <div class="item">
                <div class="testimony-wrap">
                  <div class="text">
                    <p class="mb-4">These day, helping others are the truly happiness you can't buy.</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(././static/images/person_1.jpg)">
                    </div>
                    <div class="pos ml-3">
                      <p class="name">Rama Hardi</p>
                      <span class="position">Businessman</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End 2 -->

              <!-- 3 -->
              <div class="item">
                <div class="testimony-wrap">
                  <div class="text">
                    <p class="mb-4">I always wanted to help people in Indonesia to get a better life even I'm not live in Indonesia anymore.</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(././static/images/niki.jpg)">
                    </div>
                    <div class="pos ml-3">
                      <p class="name">Niki Zefanya</p>
                      <span class="position">Director of 88Rising</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End 3 -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION TESTIMONI ==================================================================================================================-->

    <br>
    <br>
    <br>
  
    <!-- BEGIN FOOTER ==================================================================================================================-->
    <footer class="ftco-footer ftco-section img" >
      <div class="overlay">
      </div>
      <div class="container">
        <div class="row mb-5">
          <!-- Aspiration -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Aspiration</h2>
              <p>There are many ways you can support RidhoBisa. We’ve listed some ideas, but please don’t hesitate to contact us with suggestions or questions. We’d love to hear your thoughts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <!-- End Aspiration -->

          <!-- Information -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Donation</a></li>
                <li><a href="#" class="py-2 d-block">Privacy</a></li>
                <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
              </ul>
            </div>
          </div>
          <!-- End Information -->

          <!-- Links -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">Our Team</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- End Links -->

          <!-- Contact -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62-21 7863419</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">ridhobisa@tech.id</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Contact -->

        </div>
      </div>
    </footer>
    <!-- END FOOTER ==================================================================================================================-->
    
    <!-- BEGIN LOADER ==================================================================================================================-->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
      </svg>
    </div>
    <!-- END LOADER ==================================================================================================================-->

    <!-- BEGIN SCRIPT ==================================================================================================================-->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/jquery-migrate-3.0.1.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/jquery.easing.1.3.js' %}></script>
    <script src={% static 'js/jquery.waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.stellar.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'js/aos.js' %}></script>
    <script src={% static 'js/jquery.animateNumber.min.js' %}></script>
    <script src={% static 'js/scrollax.min.js' %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={% static 'css/google-map.js' %}></script>
    <script src={% static 'js/main.js' %}></script>
    <!-- END SCRIPT ==================================================================================================================-->
  
  </body>
  <!-- END BODY ==================================================================================================================-->
  
</html>